body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    margin: 20px;
}

.bloque-grande {
    font-family: 'Red Hat Display', sans-serif;
    width: 450px;
    background-color: white;
    border-radius: 26px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.cardFlex {
    display: flex;
    justify-content: center;
    margin: 20px;
}

h3 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    text-align: center;
}

.borderImg {
    border-radius: 26px 26px 0px 0px;
}

.icon {
    width: 26px;
}

.delete {
    cursor: pointer;
}


/******input************/

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 190px;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}

.cardPeque {
    width: 350px;
    height: 70px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.item {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0px;
}

.button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
}

.button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}